1. IMPLEMENTING O AUTH  
WE CAN USE OAUTH LIBRARIES FOR ADDING THE FEATURE.
WE CAN SET UP THE CONFIGURATION AND ADD AUTH_HABLER WHICH IMPLEMENTS THE AUTHENTICATION ,
ALSO WE CAN INTEGRATE JWT TOKENS WHICH WILL BE PASSED TO FUTURE API FOR IDENTITY VERIFICATION 

2. IMPLEMENTING LOGGING 
WE CAN USE LOGRUS LIBRARY FOR THIS. 
WE CAN SET UP LOGGING CONFIGURATION AND IMPLEMENT A MIDDLEWATE SO THAT ALL API REQUESTS CAN BE LOGGED


3.MODEL STRUCTURE FOR FOLLOWERS/FOLLOWING
WE CAN JUST ADD ARRAYS OF FOLLOWERS AND FOLLOWING IN THE MODEL STUCTURE 

4.FOR NEAR BY FRIENDS 
WE CAN WRITE NEW HANLDER FOR THIS. 
FIRST WE FETCH ALL FOLLOWERS AND FOLLOWING USERS AND IMPLEMENT A API TO FIND NEAR BY FRIEND 
MAY BE WE CAN USE GEO-SPACIAL QUERY IN MONGODB FOR THIS WHICH YUSE COORDINATES.
